// 定義等
@charset"UTF-8";
$tab:960px;
@mixin tab{
  @media(max-width:($tab)){
    @content;
  }  
}


// 共通
body{
  margin: 0;
  font-family: serif;
  font-size: 100%;
}
h1{
  margin: 0;
}
h2{
  margin: 0;
  padding-top: 90px;
  font-size: 2.4rem;
  font-weight: normal;
  text-align: center;
  @include tab{
    font-size: 1.5rem;
    padding-top: 50px;
  }
}
p{
  margin: 0;
}
a{
  text-decoration: none;
  color: #000;
  &:hover{
    opacity:0.5;
    transition-duration: 0.4s;
  }
}
img{
  width: 100%;
  vertical-align: bottom;
}
ul{
  margin: 0;
  padding: 0;
}
li{
  list-style: none;
}
.container{
  max-width: 1100px;
  margin: 0 auto;
  @include tab{
    padding: 0 20px;
  }
}


// header
header{
  position: relative;
  .header{
    .container{
      display: flex;
      justify-content: space-between;
      .logo{
        width: 139px;
        height: 60px;
        padding-top: 30px;
        @include tab{
          width: 92px;
          height: 40px;
          padding-top: 15px;
        }
      }
      nav{
        ul{
          display: flex;
          padding-top: 46px;
          @include tab{
            display: none;
          }
          li{
            padding: 0 30px;
            font-size: 1.125rem;
          }
        }
        .hamburger{
          display: none;
          @include tab{
            display: block;
            padding-top: 31px;
          }
          img{
            width: 20px;
            height: 15px;
          }
        }
      }
    }    
  }
  .mainvisual{
    position: absolute;
    top: 0;
    left: 0;
    z-index:-1;
    img{
      height: 674px;
      width: 100vw;
      object-fit: cover;
      @include tab{
        height: 421px;
      }
    }
    h1{
      position: absolute;
      bottom: 279px;
      width: 100%;
      text-align: center;
      font-weight: normal;
      font-size: 3rem;
      @include tab{
        bottom:184px;
        font-size:1.5rem;
      }
    }
  }
}

// お知らせ
#news{
  margin-top: 584px;
  @include tab{
    margin-top: 366px;
  }
  .container{
    ul{
      padding: 60px 0 90px;
      width: 700px;
      margin: 0 auto;
      @include tab{
        width: 100%;
        padding: 0 0 50px;
      }
      li{
        display: block;
        border-bottom: 1px solid #000;
        a{
          display: block;
          height: 25px;
          font-size: 1.125rem;
          margin-top: 30px;
          margin-bottom: 31px;
          display: flex;
          @include tab{
            flex-direction: column;
            margin-bottom: 68px;
          }
          .line-left{
            padding-bottom: 10px;
            time{
              @include tab{
                font-size: 0.8rem;
              }
            }
            span{
              display: inline-block;
              border: 1px solid #000;
              margin: 0 25px;
              padding: 3px 8px;
              font-size: 0.7rem;
            }
          }
          P{
            @include tab{
              margin-bottom: 31px;
            }
          }
        }
      }
    }
  }
}

// 施工事例
#example{
  .container{
    padding-bottom: 90px;
    @include tab{
      padding-bottom: 50px;
    }
    .items{
      margin: 90px 0 80px;
      display: flex;
      @include tab{
        flex-direction: column;
        margin: 30px 0 50px;
      }
      .item{
        width: 50%;
        @include tab{
          width: 100%;
        }
        img{
          width: 430px;
          display: block;
          margin: 0 auto;
          @include tab{
            max-width: 700px;
            width: 100%;
          }
        }
        p{
          text-align: center;
        }
        p:first-of-type{
          padding-top: 30px;
          font-size: 1.5rem;
        }
        p:last-of-type{
          padding: 15px 0;
          font-size: 0.875rem;
        }
        a{
          text-align: center;
          display: block;
          border-top: 1px solid #000;
          border-bottom: 1px solid #000;
          width: 300px;
          margin: 0 auto;
          line-height: 47px;
        }
        a::before{
          content:'▷';
        }

      }
      .item:first-of-type{
        @include tab{
          padding-bottom: 50px;
        }
      }
    }
    .btn{
      display: block;
      margin: 0 auto;
      width: 202px;
      border:1px solid #000;
      line-height: 50px;
      text-align: center;
      font-size: 1.25rem;
    }
  }
}

// コンテンツ
#contents{
  padding-top: 90px;
  display: flex;
  flex-wrap: wrap;
  @include tab{
    padding-top: 50px;
  }
  .content{
    width: calc(100% / 3);
    @include tab{
      width: 100%;
    }
  }
}

// footer{
  footer{
    background: #000;
  .container{
    padding: 40px 0 70px;
    display: flex;
    justify-content: space-between;
    @include tab{
      flex-direction: column-reverse;
      align-items: center;
      padding: 50px 0 30px;
    }
    img{
      width: 94px;
      height: 40px;
      @include tab{
        padding-top: 17px;
      }
    }
    nav{ 
      ul{
        display: flex;
        @include tab{
          flex-direction: column;
        }
        li{
          padding: 0 30px;
          @include tab{
            padding: 0 0 25px;
            text-align: center;
          }
          a{
            font-size: 1.125rem;
            color:white;
          }
        }
      }
    }
  }
  p{
    color: white;
    text-align: center;
    font-size: 0.75rem;
    padding-bottom: 10px;
  }
}